<link rel="stylesheet" href="/lib/materialize/dist/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
    <form class="col s12" action="/auth/register/">
      <div class="row">

        <div class="input-field col s3">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" name="userName" type="text" class="validate">
          <label for="username" class="active">Username</label>
        </div>

        <div class="input-field col s3">
          <i class="material-icons prefix">lock</i>
          <input id="password" name="passWord" type="password" class="validate">
          <label for="password" class="active">Password</label>
        </div>

        <div class="input-field col s3">
          <i class="material-icons prefix">lock</i>
          <input id="passRe" name="passRe" type="password" class="validate">
          <label for="passRe" class="active">Re-enter Password</label>
        </div>

      </div>
      <input class="waves-effect waves-light btn-large" type="submit" value="Register" style="display: block; margin: 0 auto;">
    </form>
  </div>
